/* COLORS */
$bg_grey: #f7f7f7;
$surface_light_grey: #ebebeb;
$surface_light_blue: #f4fbfe;
$surface_light_orange: #fcf3ea;
$surface_orange: #f49b68;

$txt_dark_grey: #222222;
$txt_med_grey: #707070;
$txt_light_grey: #afadad;

$txt_orange: #ed7937;
$txt_blue: #306d90;

$primary_light: #ded3be;
$blue_link: #6a9fba;

/* SIZES */
$wrapper_width: 1348px;
$wrapper_width_narrow: 80ch;

/* BORDER RADIUS */
$radius_small: 5px;
$radius_med: 15px;
$radius_big: 20px;
$radius_round: 100px;

/* ANIMATIONS */
$anim_fast: 0.2s;
$anim_med: 0.6s;
$anim_slow: 1s;

/* FONTS */
$font_jap: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo,
  "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
