/* COLORS */
$bg_grey: #f7f7f7;
$dark_txt: #222222;

/* SIZES */
$wrapper_width: 1348px;
$wrapper_width_narrow: 65rem;

/* BORDER RADIUS */
$radius_small: 5px;
$radius_med: 15px;
$radius_big: 20px;
$radius_round: 100px;

/* ANIMATIONS */
$anim_fast: 0.2s;
$anim_med: 0.6s;
$anim_slow: 1s;

/* FONTS */
$font_jap: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo,
  "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
