.back-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: clamp(30px, 3vw, 50px);
  color: $blue_link;

  & svg {
    display: inline-block;
    margin-right: 10px;
  }
}
