.char-table {
  display: flex;
  flex-direction: column;

  & > * + * {
    border-top: 1px solid $surface_light_grey;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
    font-size: clamp(0.8rem, 3vw, 1.1rem);
  }

  &__key {
    color: $txt_med_grey;
  }
}
