.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 100vw;
  height: 100vh;
  color: $txt_dark_grey;

  &__image-wrap {
    position: absolute;
    padding: 15px;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__image-ref {
    width: 100%;
    height: 100%;
    will-change: transform;
  }

  &__image-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: $radius_big;
    overflow: hidden;
  }

  &__content-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10%;
    padding: 0 30px;
    color: #fff;
    text-align: center;
  }

  &__text-wrap {
    margin-bottom: clamp(50px, 5vw, 100px);
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  }

  &__title {
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: clamp(1.3rem, 2vw, 2rem);
    font-weight: 300;
  }

  &__form-wrap {
    width: 800px;
    height: 50px;
    background: #fff;
    border-radius: $radius_round;
  }

  &__post-title-wrap {
    position: absolute;
    bottom: clamp(100px, 8vw, 170px);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: $wrapper_width;
    padding-left: clamp(30px, 3vw, 55px);
    padding-right: clamp(30px, 15vw, 270px);
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-weight: 300;
    color: #fff;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);

    h1 {
      margin-bottom: clamp(10px, 1vw, 15px);
      font-size: clamp(2rem, 4vw, 5rem);
    }

    span {
      display: inline-block;
    }
  }
}
