.house-card-list {
  --gap: 15px;

  display: grid;
  gap: var(--gap);
  justify-items: center;

  /* Holy Albatross technique ... 
  Allow "3 columns" layout to switch directly to "1 column" without
  passing by a "2 columns" state */
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(33.3333% - var(--gap), ((300px * 3) - 100%) * 999, 100%), 1fr)
  );

  list-style: none;
}
