.post-card {
  position: relative;
  grid-column: span 6;
  height: clamp(300px, 50vw, 550px);
  border-radius: $radius_big;
  overflow: hidden;

  @include s_screen {
    grid-column: span 3;
  }

  @include l_screen {
    grid-column: span 2;
  }

  &:nth-child(4n + 1),
  &:nth-child(4n + 4) {
    @include l_screen {
      grid-column: span 4;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  }

  &:hover .post-card__image {
    transform: scale(1.05);
    transition-duration: $anim_med;
  }

  &__image-wrap {
    width: 100%;
    height: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform $anim_slow ease-out;
  }

  &__text {
    --position: clamp(20px, 3vw, 30px);
    position: absolute;
    bottom: var(--position);
    left: var(--position);
    padding-right: var(--position);
    font-size: clamp(0.9rem, 2vw, 1.125rem);
    font-weight: 300;
    color: #fff;
    z-index: 2;
  }

  & h3 {
    margin-bottom: 10px;
    font-size: clamp(1.4rem, 3vw, 1.8rem);
    font-weight: 600;
  }
}
